In [2]:
import pandas as pd
import re

movies = pd.read_csv("movies.csv", encoding="utf-8")
ratings = pd.read_csv("ratings.csv", encoding="utf-8").groupby('movieId').agg('mean').rating.reset_index()
all_data = pd.merge(movies[['movieId', 'title']], ratings, on=('movieId'))

year = [str(i) for i in range(1950, 2011)]

def production_year(param, year):
    pattern = r'(?<=\D)(\d{4})(?=\D)'
    if re.search(pattern, param):
        current_year = re.search(pattern, param)[0]
        if current_year in year:
            return int(current_year)
    return 1900

all_data['year'] = all_data.title.apply(production_year, year=year)
all_data.groupby("year").agg('mean').rating.reset_index().sort_values('year', ascending=False)

    year    rating
61  2010  3.201324
60  2009  3.212944
59  2008  3.237304
58  2007  3.380247
57  2006  3.265219
..   ...       ...
4   1953  3.738878
3   1952  3.802318
2   1951  3.906653
1   1950  3.436538
0   1900  3.245429

[62 rows x 2 columns]